
.card {
  border-radius: 7px !important;
  padding: 1.5rem;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.2rem;
  color: var(--secondary-dark-gray);
}

.card .cardHeader {
  display: flex;
  align-items: center;
  color: var(--secondary-dark-gray);
  padding-bottom: 1rem;
  line-height: 20px;
}

.cardHeader img {
  padding-right: 0.71rem;
  height: 1.25rem;
}

.cardHeader .actionsArea {
  flex-grow: 1;
  text-align: right;
}
.cardHeader .actionsArea > * {
  margin-left: 0.8rem;
  cursor: pointer;
}

.card .cardBody {
  padding-top: 0.43rem;
}